@charset "utf-8";
:root { --color-gray: #AAAAAA; --color-green: #47D557; --color-navy: #001F3F; --color-orange: #FF851B; --color-red: #FF4136; --color-silver: #DDDDDD; }

html { color-scheme: dark; }
* { box-sizing: border-box; margin: 0; padding: 0; }
body { display: flex; flex-direction: column; height: 100vh; position: absolute; width: 100vw; background-image: url("/files/images/sharding.jpg"); background-attachment: fixed; background-position: center top; background-repeat: no-repeat; background-size: auto 100%; }

p { display: inline-block; font-family: "Arial"; padding: 2px; overflow-y: hidden; white-space: nowrap; }
p:hover { background-color: var(--color-navy); }
.centrist:hover { background-color: var(--color-navy); }

body > .input { z-index: 1; display: block; flex: 1 1 auto; font-size: 2rem; padding-left: 0.5rem; }
.control-row { align-items: center; background-color: rgba(0, 0, 0, 0.8); border-bottom: 1px solid var(--color-orange); display: flex; flex-wrap: wrap; justify-content: center; overflow: hidden; }
.control-row > .player { flex: 2 1 auto; }
.control-row p { flex: 1 1 auto; text-align: center; user-select: none; }
.included { background-color: rgba(0, 0, 0, 0.8); border-right: 1px solid var(--color-orange); flex: 1 1 90%; padding: 2px; overflow: auto; }
.included > p { padding: 10px; }
.included p { float: left; clear: left; }
.included p:hover { background-color: var(--color-navy); }
.included p.currently-playing:nth-child(even) { color: var(--color-red); }
.included p.currently-playing:nth-child(odd) { color: var(--color-red); }
.included p.currently-playing::before { content: "> "; }
.included p.currently-playing::after { content: " <"; }
.included p:nth-child(even) { color: var(--color-silver); }
.included p:nth-child(odd) { color: var(--color-gray); }
.centrist { align-items: center; container-type: inline-size; display: flex; flex: 1 1 auto; height: 100%; justify-content: center; }
.centrist > * { font-size: 2rem; flex: 1 1 auto; }

@media (max-width:480px) {
    body > .input { display: block; flex: 1 1 10%; font-size: 2rem; padding-right: 1em; }
    .control-row { align-items: flex-start; border-bottom: 1px solid var(--color-orange); display: flex; flex: 1 1 20%; flex-wrap: wrap; justify-content: center; overflow: hidden; }
    .control-row > .player { flex: 0 0 100%; }
    .centrist { align-items: center; height: 100%; justify-content: center; }
    .control-row > div { border: 1px solid gray; height: 100%;}
    .control-row p { font-size: 2rem; height: 50%; }
    .included { border-bottom: 1px solid var(--color-orange); border-right: 0; flex: 1 1 70%; overflow: auto; }
    .included > p { padding: 5px; }
}
